.authorhead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier;
}
.datehead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
}
.versionhead
{
    font-size: 80%;
    margin-top: 0em;
    margin-bottom: 0em;
    font-family:Courier, monospace;
}

.filename
{
    font-family:Courier, monospace;
    font-style: italic;
    font-weight:bold;
}

.envar
{
    font-family:Courier, monospace;
    font-weight:bold;
}
.variable
{
    font-family:Courier, monospace;
    font-weight:bold;
}

.selfprogname
{
    font-family:Courier, monospace;
    background-color:#EEEEEE;
}
.commandname
{
    font-family:Courier, monospace;
    background-color:#EEEEEE;
}
.progname
{
    font-family:Courier, monospace;
    background-color:#EEEEEE;
}
.optstyle
{
    font-family:Courier, monospace;
    font-weight:bold;
}
.argstyle
{
    font-family:Courier, monospace;
    font-style: italic;
}

.sectionname
{
    font-size: 120%;
}
.urlstyle
{
}

.section h2
{
    font-size: 120%;
}

dt.itemize
{
    float:left;
    clear:left;
    margin-right: 1em;
}

dt.description
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sectiontext
{
    margin-left: 2em;
    width: 800px;
}

pre
{
    background-color: #EFEFEF;
    margin-top: 0.6em;
    margin-bottom: 0.6em;    
}

span, strong, em
{
    white-space: nowrap;
}
